<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AMERICA ONLINE CONFIDENTIAL INFORMATION
  ~
  ~ Copyright (c) 2016. AOL Inc
  ~ All Rights Reserved.  Unauthorized reproduction, transmission, or
  ~ distribution of this software is a violation of applicable laws.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aol.obi.android.lib.one">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Credit Card Encryption Lib"
        android:supportsRtl="true">

    </application>

</manifest>